beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coloredlogs==15.0
cryptography==3.4.5
h11==0.12.0
h2==4.0.0
hpack==4.0.0
humanfriendly==9.1
hyperframe==6.0.0
idna==2.10
kaitaistruct==0.9
pyasn1==0.4.8
pycparser==2.20
pydivert==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyreadline==2.1
pysocks==1.7.1
requests==2.25.1
search-engines==0.5
selenium==3.141.0
selenium-wire==4.0.5
six==1.15.0
soupsieve==2.2
urllib3==1.26.3
wincertstore==0.2
wsproto==1.0.0
